<h1 mat-dialog-title>UPLOAD CSV</h1>
<mat-dialog-content>
      <h3>Choose file for upload</h3>
      <div>
        <p>The csv to be uploaded should have the following format.</p>
        <ol>
          <li>Columns in the order item(string), category(string), year(full year), month(number), date(number), price(number), demand(number).</li>
          <li>First row should have the above column names.</li>
        </ol>
        <p>
          <input type="file" class="upload" (change)="changeListener($event)" />
        </p>
        <!-- <button mat-button matStepperNext>Next</button> -->
      </div>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button color='primary' (click)='uploadCsvData()'>Upload</button>

  <!-- <button mat-raised-button (click)="setStage('upload')" color='warn' disabled="stage==='upload'">Back</button>
  <button mat-raised-button color="primary" (click)="setStage('check')">Next</button> -->
</mat-dialog-actions>
