.login-card {
  width: auto;
  justify-content: center;
  margin: 20px;
  padding: 40px;
  padding-left: 75px;
  padding-right: 100px;
}
.login-div {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
