<!-- 
<h2>Log In</h2>
<div class="row" *ngIf="!_userService.token">
  <div class="col-sm-4">
    <label>Username:</label><br />
    <input type="text" name="login-username" [(ngModel)]="user.username">
    <span *ngFor="let error of _userService.errors.username"><br />
    {{ error }}</span></div>
  <div class="col-sm-4">
    <label>Password:</label><br />
    <input type="password" name="login-password" [(ngModel)]="user.password">
    <span *ngFor="let error of _userService.errors.password"><br />
    {{ error }}</span>
  </div>
  <div class="col-sm-4">
    <button (click)="login()" class="btn btn-primary">Log In</button>
  </div>
  <div class="col-sm-12">
    <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
  </div>
</div>
<div class="row" *ngIf="_userService.token">
  <div class="col-sm-12">You are logged in as {{ _userService.username }}.<br />
    Token Expires: {{ _userService.token_expires }}<br />
    <button (click)='refreshToken()' class="btn btn-primary">Refresh Token</button>
    <button (click)="logout()" class="btn btn-primary">Log Out</button>
  </div>
</div> -->
<div class='login-div'>
<mat-card class="login-card">
   <!-- <mat-card-header> -->
     <mat-card-title>Login</mat-card-title>
   <!-- </mat-card-header> -->
   <!-- <mat-card-content> -->
     <form >
       <table cellspacing="0">
         <tr>
           <td>
             <mat-form-field class="example-full-width">
             <!-- <input matInput placeholder="Username" [(ngModel)]="username" name="username" required> -->
             <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
             <span *ngFor="let error of _userService.errors.username"><br />
                {{ error }}</span>
             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="example-full-width">
           <!-- <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required> -->
           <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password" required>
           <span *ngFor="let error of _userService.errors.password"><br />
            {{ error }}</span>
         </mat-form-field></td>
       </tr></table>
     </form>
     <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
      <!-- <mat-spinner [style.display]="true ? 'block' : 'none'"></mat-spinner> -->
   <!-- </mat-card-content> -->
   <!-- <mat-card-actions> -->
     <!-- <button mat-raised-button (click)="login()" color="primary">Login</button> -->
     <button mat-raised-button (click)="login()" color="primary">Login</button>
     <div class="col-sm-12">
        <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
      </div>
   <!-- </mat-card-actions> -->
 </mat-card>

</div>