.example-spacer {
  flex: 1 1 auto;
}

.header-title {
  font-weight: lighter;
}

// .icon-button {
//   border: none
// }

// .icon-button:hover {
//   border: none;
//   background-color: '#f5f5ff';
// }