.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

.mat-slider-horizontal {
  height: 48px;
  min-width: 128px;
  width: 90%;
  padding: 20px
}

.mat-table {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 90%;
  padding: 20px
}