<app-top-menu></app-top-menu>
<h1 class="title">Prices and Sales Visualization</h1>
<div class="page-content">
  <mat-divider class="page-divider"></mat-divider>
</div>
<div class="page-content">
  <button mat-raised-button color="primary" (click)="openDialog()">
    Upload CSV
  </button>
</div>
<div class="page-content">
  <form>
    <mat-form-field appearance="fill" class="selectors">
      <mat-label>Type</mat-label>
      <mat-select
        [(ngModel)]="type"
        name="type"
        (ngModelChange)="onSelectChange($event)"
      >
        <mat-option *ngFor="let type of types" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="selectors">
      <mat-label>Category</mat-label>
      <mat-select
        [(ngModel)]="category"
        name="category"
        (ngModelChange)="onSelectChange($event)"
      >
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill" class="selectors">
      <mat-label>Period</mat-label>
      <mat-select
        [(ngModel)]="period"
        name="period"
        [disabled]="disablePeriod"
        (ngModelChange)="onSelectChange($event)"
      >
        <mat-option *ngFor="let period of periods" [value]="period">
          {{ period }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </form>
</div>
<div class="page-content">
  <ngx-charts-line-chart
    [legendPosition]="legendPosition"
    [view]="view"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="multi"
  >
  </ngx-charts-line-chart>
</div>
