<style>
.warning {
    background-color: firebrick;
    color: white;
}
</style>
<h1 mat-dialog-title>Logout</h1>
<mat-dialog-content>Are you sure?</mat-dialog-content>
<mat-dialog-actions align='center'>
  <button mat-button mat-dialog-close>Close</button>
  <button  mat-button class='warning' (click)='logout()' mat-dialog-close>Logout</button>
</mat-dialog-actions>