.title {
    font-size: 50px;
    text-align: center;
    padding: 20px;
    font-weight: lighter;
  }
  .title::first-letter {
    color: blueviolet;
    font-weight: normal;
  }
  
  .page-content {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .selectors {
  //   width: 50%;
  //   align-self: center;
  //   display: flex;
  //   justify-content: center;
  padding: 10px
  }
  
  
  .page-divider {
      width: 70%;
  }

  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }