<app-top-menu></app-top-menu>
<h1 class="title">Competitive Price</h1>
<div class="page-content">
  <mat-divider class="page-divider"></mat-divider>
</div>
<div class="page-content">
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <button mat-raised-button color="primary" (click)="openDialog()">
    Upload CSV
  </button>
</div>
<div class="page-content">
  
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <div class="page-content">
          <button mat-raised-button color="primary" (click)="openDialog()">
            Upload CSV
          </button>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      <form [formGroup]="secondFormGroup">
        <form>
          <!-- <mat-form-field appearance="fill" class="selectors">
            <mat-label>Type</mat-label>
            <mat-select
              [(ngModel)]="type"
              name="type"
              (ngModelChange)="onSelectChange($event, '')"
            >
              <mat-option *ngFor="let type of types" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <!-- <mat-form-field appearance="fill" class="selectors">
            <mat-label>Category</mat-label>
            <mat-select
              [(ngModel)]="category"
              name="category"
              (ngModelChange)="onSelectChange($event, 'category')"
            >
              <mat-option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field appearance="fill" class="selectors">
            <mat-label>Item</mat-label>
            <mat-select
              [(ngModel)]="item"
              name="item"
              (ngModelChange)="onSelectChange($event, 'item')"
            >
              <mat-option *ngFor="let item of items" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field appearance="fill" class="selectors">
            <mat-label>Period</mat-label>
            <mat-select
              [(ngModel)]="period"
              name="period"
              [disabled]="disablePeriod"
              (ngModelChange)="onSelectChange($event)"
            >
              <mat-option *ngFor="let period of periods" [value]="period">
                {{ period }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </form>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <ngx-charts-line-chart
      [legendPosition]="legendPosition"
      [view]="view"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
    >
    </ngx-charts-line-chart>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
