<app-top-menu></app-top-menu>

<div>
  <mat-grid-list  cols="2" rowHeight="2:1">
    <mat-grid-tile class="grid-container" *ngFor="let link of links">
      <div (click)="onLinkClick(link.redirectTo)" class="home-div" [routerLink]="link.redirectTo">

      <h2 class='home-title'>{{ link.title }}<mat-icon>label_important</mat-icon></h2>
      
      <mat-divider></mat-divider>
      <p>{{ link.description }}</p>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
