.grid-container {
}

.home-div {
    width: 70%;
    user-select: none;
    padding: 30px;
    border-radius: 5px;
    transition: transform .2s;
}

.home-div:hover {
//    background-color: #f5f5f5;
   transform: scale(1.1)

}

.home-title {
    transition: transform .05s;
}

.home-title::first-letter {
    font-size: 150%;
    color: #8A2BE2;
  }

// .home-title:hover{
//     transform: scale(1.1)
// }

.home-description {
    transition: transform .1s
}

p {
    margin-top: 10px;
    text-indent: 25px;
}


// .home-description:hover {
//     transform: scale(1.1)
// }