<app-top-menu></app-top-menu>
<h1 class="title">Price Prediction</h1>
<div class="page-content">
  <mat-divider class="page-divider"></mat-divider>
</div>
<div class="page-content">
  <form>
    <mat-form-field appearance="fill" class="selectors">
      <mat-label>Category</mat-label>
      <mat-select
        [(ngModel)]="category"
        name="category"
        (ngModelChange)="onSelectChange($event, 'category')"
      >
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="selectors">
      <mat-label>Item</mat-label>
      <mat-select
        [(ngModel)]="item"
        name="item"
        (ngModelChange)="onSelectChange($event, 'item')"
      >
        <mat-option *ngFor="let item of items" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill" class="selectors">
      <mat-label>Period</mat-label>
      <mat-select
        [(ngModel)]="period"
        name="period"
        [disabled]="disablePeriod"
        (ngModelChange)="onSelectChange($event, 'period')"
      >
        <mat-option *ngFor="let period of periods" [value]="period">
          {{ period }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <!-- </mat-grid-tile> -->
    <!-- </mat-grid-list> -->
  </form>
</div>
<div class="page-content" *ngIf='!item && !isPredicting'>
  <p class='warning-text'>*Choose an item to show data</p>
</div>
<div class="page-content" *ngIf='item && !isPredicting'>
  <button mat-raised-button color="primary" (click)="predict()">Predict</button>
</div>
<div class="page-content" *ngIf='isPredicting'>
  <p class='warning-text'>Predicting...</p>
</div>
<div class="page-content" *ngIf='!isPredicting'>
  <ngx-charts-line-chart
  [view]="view"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
>
</ngx-charts-line-chart>
  <!-- (select)="onSelect($event)" -->
  <!-- Object.assign(this, { single:this.formattedData }); -->
 
</div>



